<!-- Config file for the game -->

<config>
  <app framerate_cap = "30">
    <title>INDIANA JUMPS</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="480" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  <player>
	<pos x="5" y="10" />
	<speed x="0" y="0"/>
	<fromup value ="false"/>
	<fromdown value = "false"/>
	<fromleft value = "false"/>
	<fromright value = "false"/>
	<jumping value = "false"/>
	<onfloor value = "false"/>
	<max_speed_y value = "-20.0f"/>
	<jumpforce value = "4.0f"/>
	<death value = "false"/>
	<won value = "false"/>
	<sliding value = "false"/>
	<max_speed_x value = "20.0f"/>
	<slidingforce value = "7.0f"/>
	<start_freefalling value = "true"/>
	<speed_slide value = "5.0f"/>
  </player>
  
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  
  <entities>
  
	<zombie>
	
		<speed x="30" y="0"/>
		<move value = "false"/>
		<die value = "false"/>
	
	</zombie>
	
	<player>
	
		<pos x="5" y="10" />
		<speed x="0" y="0"/>
		<fromup value ="false"/>
		<fromdown value = "false"/>
		<fromleft value = "false"/>
		<fromright value = "false"/>
		<jumping value = "false"/>
		<onfloor value = "false"/>
		<max_speed_y value = "-20.0f"/>
		<jumpforce value = "4.0f"/>
		<death value = "false"/>
		<won value = "false"/>
		<sliding value = "false"/>
		<max_speed_x value = "20.0f"/>
		<slidingforce value = "7.0f"/>
		<start_freefalling value = "true"/>
		<speed_slide value = "5.0f"/>
	
	</player>
  
  </entities>

</config>